*{
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 30px;
}

h2{
background-color: blue;
display: inline-block;
padding: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
margin: 20px;
border-radius: 20px;
}

p{
    background-color: purple;
    display: inline-block;
    padding: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; 
    border-radius: 40px;
}


