*{
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 30px;
}

h2{
background-color: blue;
display: inline-block;
padding: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
margin: 20px;
border-radius: 20px;
box-shadow: 2px  4px  15px 0 #000; /* pixeles que agarramos del eje x , eje y , pixeles de la sombra , grosor de sombra , color */
}

p{
    background-color: purple;
    display: inline-block;
    padding: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; 
    border-radius: 40px;
    border: 5px solid darkcyan;
    box-shadow: 30px  20px  15px 0 black;
}


