
h1{
    font-size: 40px;
}


.Textodeprueba{
    font-size: 10px;
}

.Textodeprueba_titulo{
    padding: 30px;
    margin: 30px;
    color: red;
    font-size: 3em;
    background-color: black;
    width: 50vw;
}

