*{
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 30px;
}


.caja_1{
    width: 200px;
    height: 200px;
    background: darkcyan;
}

.caja_2{
    width: 200px;
    height: 200px;
    background: purple;
}