*{
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 30px;
}


div{
    width: 200px;
    height: 200px;
    display: block;
}

.caja_3{
    background-color: blue;
    position: relative;
    z-index: 50;

}

.caja_2{
    background-color: red;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 110;
    

}

.caja_1{
    background-color: green;
    border: 10px solid fuchsia;
    position: relative;
    left: 400px;
    z-index: 150;

}

.caja_4{
    background-color: yellow;

}

.caja_1 h2{
    display: inline;
}
