*{
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 30px;
}


div{
    width: 200px;
    height: 200px;
    display: block;
}

.caja_3{
    background-color: blue;

}

.caja_2{
    background-color: red;
    position: relative;
    top: 400px;
    left: 400px;

    

}

.caja_1{
    background-color: green;

}

.caja_4{
    background-color: yellow;

}
