body{
    background-image: url('columbia.png');
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color:gold;
    font-size: 50px;
}

p{
    color:green;
    font-size: 20px;
}

#texto1{
    color: tomato;
    font-size: 20px;
}

p.texto2{
    color:black;
    font-size: 20px;
}

.texto3{
    color: purple;
    font-size: 20px;
    border: red 5px solid;
}

div .textodiv{
    color:gold;
    font-size: 20px;
}

/*ejempo de comentario*/

.titulocolor{
  /*  border: 10px purple groove;/*Color rosa hexadecimal, ##rrggbb*/ 
  border-style: solid;/*tipo de contorno del elemento*/
  border-color: purple;/*color del contorno del elemento*/
  border-radius: 10px;/*cuantos pixeles queremos que tenga de radio el borde*/
  border-width: 10px;/*ancho del borde*/
}

.GrupoTextos{
    border-style: dashed;
    border-color: gold;
    border-radius: 5px;
    border-width: 10px;
    background: rgba(0,0,0, 0.5);
}