body{
    background-color: blue;
}

h1{
    color:gold;
    font-size: 50px;
}

p{
    color:green;
    font-size: 20px;
}

#texto1{
    color: tomato;
    font-size: 20px;
}

p.texto2{
    color:black;
    font-size: 20px;
}

.texto3{
    color: purple;
    font-size: 20px;
    border: red 5px solid;
}

div .textodiv{
    color:gold;
    font-size: 20px;
}

/*ejempo de comentario*/

.titulocolor{
   border: 10px purple groove;/*Color rosa hexadecimal, ##rrggbb*/
}

.GrupoTextos{
    border: gold 5px dashed;
}