h1{ /*selector de titulo*/
    color: blueviolet;  /*color que queremos que tenga la pagina*/
}

.titulo2{ /*selector para clase*/
    color: chartreuse;
}

p{
    color: darkorange;
}

#idboton{ /*selector para un id*/
    color: blue;
}