h1{
    color: blue;
}

h2{
    color: cyan;
}


.titulo2{
    color: greenyellow !important;
}

#botonprueba{
    color: yellow;
}

#textoprueba{
    color: darkmagenta;
}

.register-form__input{
    color: magenta;
}

.register-form__input--active{
    color: gold;
}
